.wrapper {
  padding: 10px;
}
.header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nowDays {
  
}
.totalWeight > span{
  color: brown;
  font-size: 2rem;
}
.doneWeight > span {
  color: green;
  font-size: 2rem;
}
.doneWeight, .totalWeight {
  align-self: flex-end;
  font-size: 1.5rem;
}
.personeList {
  padding-left: 15px;
  margin-top: 30px;
}
.personeList  li {
  margin-bottom: 10px;
}
.formPush {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.formPush input, .formPush select, .formPush button{
  padding: 10px;
  width: 50%;
}
.personeList {
  list-style-type: decimal;
}
.personeList  li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personeList  li button{
  position: relative;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  background: linear-gradient(90deg, #ff6ec4, #7873f5, #4adede, #ff6ec4);
  background-size: 300% 300%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  animation: gradientMove 5s ease infinite;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.personeList  li button:hover {
  transform: scale(1.05);
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

