.wrapper {
  padding: 10px;
}
.header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nowDays {
  
}
.totalWeight > span{
  color: brown;
  font-size: 2rem;
}
.doneWeight > span {
  color: green;
  font-size: 2rem;
}
.doneWeight, .totalWeight {
  align-self: flex-end;
  font-size: 1.5rem;
}
.personeList {
  padding-left: 15px;
  margin-top: 30px;
}
.personeList  li {
  margin-bottom: 10px;
}
.formPush {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.formPush input, .formPush select, .formPush button{
  padding: 10px;
  width: 50%;
}
